shiny 
shinjs
shinydashboard 
shinyBS 
shinyLP
plotly 
tidyverse
scales
knitr
rlang
stringi
tidyselect
geojsonsf
jsonlite
httr
curl 
assertthat
knitrProgressBar
futile.logger
utils
DT
textutils
readxl
openxlsx
anytime
lubridate
sf
