class
nlme
lattice
urca
KernSmooth
foreign
nnet
curl
assertthat
knitr
tidyverse
tidyselect
XML
anytime
scales
RColorBrewer
gridExtra
ggthemes
knitrProgressBar
formattable
leaflet
dygraphs
DT
shiny
shinydashboard
shinyBS
shinyLP
jsonlite
httr
sttringi
futile.logger
utils
textutils
rgdal
rgeos
wellknown
sp
raster
sf
maptools
geojsonR
geojsonio
geojsonsf
rmapshaper
tmap
zoo
xts
RcppRoll
seasonal
forecast
stlplus
tsibble
fable
feasts
smooth
readxl
openxlsx
