class
nlme
lattice
urca
KernSmooth
foreign
nnet
curl
assertthat
knitr
tidyverse
tidyselect
XML
anytime
scales
RColorBrewer
gridExtra
ggthemes
formattable
leaflet
dygraphs
DT
shiny
shinydashboard
shinyBS
shinyLP
plotly
googleVis
knitr
rlang
stringi
assertthat
knitrProgressBar
jsonlite
httr
futile.logger
utils
textutils
rgdal
rgeos
wellknown
sp
raster
sf
maptools
geojsonR
geojsonio
geojsonsf
rmapshaper
tmap
zoo
xts
RcppRoll
seasonal
forecast
stlplus
tsibble
fable
feasts
smooth
readxl
openxlsx
